<!DOCTYPE html>
<html ng-app="comparetravel">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">


    <!-- <link rel="stylesheet" href="/css/admin.css"> -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script>
    <link rel="stylesheet" href="/Home Page With Chefs Recipies_files/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/cab_js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <link rel="stylesheet" href="/Resturants_files/dashboard.css">
    <link rel="stylesheet" href="/css/admin.css">

    <title>Trip Key</title>

</head>

<body ng-controller="{% block controller%}{% endblock %}"  >
    <div id="snackbar"></div>
    


    <section class="section">
        <div class="container">
            {% block content%} {% endblock %}
        </div>
    </section>