<footer id="footer" class="style5">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>Travel Beans</h2>
                    <ul class="discover triangle hover row">
                        <li class="col-xs-6">
                            <a href="">About Company</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">Jobs</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">Corporate Offices</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">Carrers</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">Legal Information</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">Press Release</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">Investors</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">T &amp; C</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">Customer Care</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">Privacy Policies</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">Partner Help</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">FAQ's</a>
                        </li>
                        <li class="col-xs-6">
                            <a href="">Site Map</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>Products</h2>
                    <ul class="discover triangle hover row">
                        <li class="col-xs-">
                            <a href="">TB Associates</a>
                        </li>
                        <li class="col-xs-">
                            <a href="">TB Galaria</a>
                        </li>
                        <li class="col-xs-">
                            <a href="">TB Judge</a>
                        </li>
                        <li class="col-xs-">
                            <a href="">TB Sarah</a>
                        </li>
                        <li class="col-xs-">
                            <a href="">TB #Tag</a>
                        </li>
                        <li class="col-xs-">
                            <a href="">TB Shoppist</a>
                        </li>
                        <li class="col-xs-">
                            <a href="">TB Indi Coin</a>
                        </li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>Grab Some Offers Now</h2>
                    <p>Subscribe Us to get latest Updates and offe₹</p>
                    <br>
                    <div class="icon-check">
                        <input type="text" class="input-text full-width" placeholder="your email">
                    </div>
                    <br>
                    <span>We respect your privacy</span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <h2>About Travel Beans</h2>
                    <p>Travel Beans is a Metasearch Engine Technology , Developed To Compare Prices for all Categories and Products of Traveling at a One Stop Place so as to Bring the Entire Global Travel Market at One Binded Platform .</p>
                    <br>
                    <address class="contact-details">
                        <span class="contact-phone">
                            <i class="soap-icon-phone"></i>Get In Touch</span>
                        <br> Mail At
                        <a href="" class="contact-email">contact@travelbeans.in</a>
                    </address>
                    <ul class="social-icons clearfix">
                        <li class="twitter">
                            <a title="" href="" data-toggle="tooltip" data-original-title="twitter">
                                <i class="soap-icon-twitter"></i>
                            </a>
                        </li>
                        <li class="googleplus">
                            <a title="" href="" data-toggle="tooltip" data-original-title="googleplus">
                                <i class="soap-icon-googleplus"></i>
                            </a>
                        </li>
                        <li class="facebook">
                            <a title="" href="" data-toggle="tooltip" data-original-title="facebook">
                                <i class="soap-icon-facebook"></i>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a title="" href="" data-toggle="tooltip" data-original-title="linkedin">
                                <i class="soap-icon-linkedin"></i>
                            </a>
                        </li>
                        <li class="vimeo">
                            <a title="" href="" data-toggle="tooltip" data-original-title="vimeo">
                                <i class="soap-icon-vimeo"></i>
                            </a>
                        </li>
                        <li class="dribble">
                            <a title="" href="" data-toggle="tooltip" data-original-title="dribble">
                                <i class="soap-icon-dribble"></i>
                            </a>
                        </li>
                        <li class="flickr">
                            <a title="" href="" data-toggle="tooltip" data-original-title="flickr">
                                <i class="soap-icon-flickr"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
            <div class="logo pull-left">
                <a href="http://www.soaptheme.net/html/travelo/index.html" title="Travelo - home">
                    <img src="./Footer Hotel_files/logo.png" alt="Travelo HTML5 Template">
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;">
                    <i class="soap-icon-longarrow-up circle"></i>
                </a>
            </div>
            <div class="copyright pull-right">
                <p>© 2018 Travel Beans</p>
            </div>
        </div>
    </div>
</footer>