<div class="topnav hidden-xs">
        <div class="container">
            <ul class="quick-menu pull-left">

                <li class="ribbon currency">
                    <a href="" title="">INR</a>
                    <ul class="menu mini">
                    </ul>
                </li>
                <li class="ribbon">
                    <a href="">English</a>
                    <ul class="menu mini">
                    </ul>
                </li>
                <li class="ribbon">
                    <a href="">India</a>
                    <ul class="menu mini">
                    </ul>
                </li>
            </ul>
            <ul class="quick-menu pull-right">
                <li>
                    <a href="" class="button yellow btn-small" style="height: 30px; font-size: 1em;">
                        <i class="soap-icon-shopping"></i> SIGN UP</a>
                </li>
                <li>
                    <a href="travelo-login" class="soap-popupbox">LOGIN</a>
                </li>
                <li>
                    <a href="">Business CAPITAL</a>
                </li>
                <li>
                    <a href="travelo-signup" class="soap-popupbox">Cutomer Care</a>
                </li>

            </ul>
        </div>
    </div>
