<div class="tab-wrapper">
    <div class="tab-container container trans-style">
        <ul class="tabs no-padding">
            <li class="active">
                <a data-toggle="tab" href="#search" aria-expanded="true">
                    <i class="soap-icon-food"></i>Search The Stuff</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#order-food" aria-expanded="false">
                    <i class="soap-icon-shopping-3"></i>Order Food</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#book-table" aria-expanded="false">
                    <i class="soap-icon-passenger"></i>Book a Table</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#book-party" aria-expanded="false">
                    <i class="soap-icon-wifi"></i>Book for a Party</a>
            </li>
            <li class="">
                <a data-toggle="tab" href="#chefs-recipie-corner" aria-expanded="false">
                    <i class="soap-icon-baggage-4"></i>Chefs Recipie Corner</a>
            </li>
        </ul>

        <div class="tab-content">



            <div id="search" class="tab-pane fade active in">
                <div class="search-tab-content">
                    <i class="soap-icon-passenger white-color skin-bg no-border pull-left" style="font-size: 74px; margin-right: 30px;"></i>
                    <form action="/restaurant/search" method="get">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-6 z-index-10">
                                <h4 class="title">Trip Keys Resturants</h4>
                                <label>Search for a Perfect Dinning</label>
                                <label>
                                    <select ng-model="userLocation" ng-init="userLocation = '{{user_location}}'" ng-change="setValues(userLocation)">
                                        <option value disabled>--Select Location--</option>
                                        {% for location in locations %}
                                        <option value="{{location}}">{{location}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <input type="text" class="input-text full-width search-input-text" placeholder="Search Resturant , Cusine or Dishes" ng-model="searchQueryValue"
                                    ng-change="searchQuery(searchQueryValue, userLocation)">
                            </div>



                            <div class="form-group col-sm-6 col-md-2 fixheight z-index-10">
                                <label class="hidden-xs">&nbsp;</label>
                                <button type="submit" class="full-width icon-check animated bounce" data-animation-type="bounce" data-animation-duration="1"
                                    style="animation-duration: 1s; visibility: visible;">SEARCH NOW</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>

            <div id="order-food" class="tab-pane fade">

                <div class="search-tab-content">
                    <i class="soap-icon-passenger white-color skin-bg no-border pull-left" style="font-size: 74px; margin-right: 30px;"></i>
                    <form action="" method="post">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-6">
                                <h4 class="title">Order Online</h4>
                                <label>Hungry ? Worry Not , We'll Get Your Order Placed</label>
                                <input type="text" class="input-text full-width search-input-text" placeholder="Tell Us ! What are You Hungry For ?" ng-model="searchQueryValue"
                                    ng-change="searchQuery(searchQueryValue)">

                            </div>





                            <div class="form-group col-sm-6 col-md-2 fixheight">
                                <label class="hidden-xs">&nbsp;</label>
                                <button type="submit" class="full-width icon-check animated bounce" data-animation-type="bounce" data-animation-duration="1"
                                    style="animation-duration: 1s; visibility: visible;">SEARCH NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="book-table" class="tab-pane fade">
                <div class="search-tab-content">
                    <i class="soap-icon-passenger white-color skin-bg no-border pull-left" style="font-size: 74px; margin-right: 30px;"></i>
                    <form action="" method="post">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-6">
                                <h4 class="title">Book a Table</h4>
                                <label>We'll Help You for a Perfect Dine Out , Book With Us </label>
                                <input type="text" class="input-text full-width search-input-text" placeholder="Search for Resturants Around You" ng-model="searchQueryValue"
                                    ng-change="searchQuery(searchQueryValue)">
                                <!-- <input type="text" class="input-text full-width" placeholder="Search for Resturants Around You"> -->
                            </div>

                            <div class="form-group col-sm-6 col-md-2 fixheight">
                                <label class="hidden-xs">&nbsp;</label>
                                <button type="submit" class="full-width icon-check animated bounce" data-animation-type="bounce" data-animation-duration="1"
                                    style="animation-duration: 1s; visibility: visible;">SEARCH NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="book-party" class="tab-pane fade">
                <div class="search-tab-content">
                    <i class="soap-icon-passenger white-color skin-bg no-border pull-left" style="font-size: 74px; margin-right: 30px;"></i>
                    <form action="" method="post">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-6">
                                <h4 class="title">Book For a Party , Event</h4>
                                <label>Let the Fun Begin , Book the Most Auspicious Place For Your Occasion</label>
                                <input type="text" class="input-text full-width search-input-text" placeholder="Search for Resturants Around You" ng-model="searchQueryValue"
                                    ng-change="searchQuery(searchQueryValue)">
                                <!-- <input type="text" class="input-text full-width" placeholder="Search for Resturants Around You"> -->
                            </div>

                            <div class="form-group col-sm-6 col-md-2 fixheight">
                                <label class="hidden-xs">&nbsp;</label>
                                <button type="submit" class="full-width icon-check animated bounce" data-animation-type="bounce" data-animation-duration="1"
                                    style="animation-duration: 1s; visibility: visible;">SEARCH NOW</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div id="chefs-recipie-corner" class="tab-pane fade">
                <div class="search-tab-content">
                    <i class="soap-icon-passenger white-color skin-bg no-border pull-left" style="font-size: 74px; margin-right: 30px;"></i>
                    <form action="" method="post">
                        <div class="row">
                            <div class="form-group col-sm-6 col-md-6">
                                <h4 class="title">Chefs Recipie Corner</h4>
                                <label>Looking to Cook at Home , Try Something New With Recipies from Our MOM Chef's</label>
                                <input type="text" class="input-text full-width search-input-text" placeholder="Search for a Dish" ng-model="searchQueryValue"
                                    ng-change="searchQuery(searchQueryValue)">
                                <!-- <input type="text" class="input-text full-width" placeholder="Search for a Dish "> -->
                            </div>

                            <div class="form-group col-sm-6 col-md-2 fixheight">
                                <label class="hidden-xs">&nbsp;</label>
                                <button type="submit" class="full-width icon-check animated bounce" data-animation-type="bounce" data-animation-duration="1"
                                    style="animation-duration: 1s; visibility: visible;">SEARCH NOW</button>
                            </div>
                            <div class="form-group col-sm-6 col-md-2 fixheight">
                                <label class="hidden-xs">&nbsp;</label>
                                <button type="submit" class="full-width icon-check animated bounce" data-animation-type="bounce" data-animation-duration="2"
                                    style="animation-duration: 3s; visibility: visible;">VIEW RECIPIES</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-2 search-suggestion-box" id="search-suggestion">
            <ul id="search-suggestion-list" ng-repeat="(searchType, searchValue) in searchSuggestion">
                <li ng-repeat="searchResult in searchValue">
                    <a href="/restaurant/search?[[searchType]]=[[searchResult]]">
                        <span ng-bind-html="highlight(searchResult, searchQueryValue)"></span> - [[searchType]]
                    </a>
                </li>
            </ul>
        </div>


        <div id="overlay-box"></div>

    </div>
</div>