{% extends '/cab/components/dashboard_header.html' %} {% block controller%}adminCabController{% endblock %} {% block
    content%}
    <h3>Enter Cab Details</h3>
    
    <div class="row">
        <div class="col-sm-6">
            <!-- <form> -->

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Cab Type:</label>
                        <br>
                        <select ng-model="restaurantData.category" ng-required="true">
                            <option value disabled>-- select cab type --</option>
                            <option value="[[$index+1]]" ng-repeat="type in cab_types">[[type]]</option>
                        </select>
    
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Car Name:</label>
                        <input type="text" class="form-control" ng-model="restaurantData.name" ng-required="true">
    
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Rating(out of 10.0):</label>
                        <input type="number" class="form-control" step="any" ng-model="restaurantData.rating" ng-required="true">
                    </div>
                </div>
            </div>
    
    
            <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" ng-model="restaurantData.desc" ng-required="true"></textarea>
            </div>
    
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>City:</label>
                        <br>
                        <!-- <input type="text" class="form-control" ng-model="" ng-required="true"> -->
                        <select ng-model="restaurantData.city">
                            <option value disabled selected>--Select Your Location--</option>
                            <option value="[[location]]" ng-repeat="location in locations">[[location]]</option>
                        </select>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Car Type:</label>
                        <br>
                        <select ng-model="restaurantData.category" ng-required="true">
                            <option value disabled>-- select car type --</option>
                            <option value="[[$index+1]]" ng-repeat="type in car_types">[[type]]</option>
                        </select>
    
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6"> 
                    <label>Image Url</label>         
                    <input class="form-control" ng-model="images.image_url" type="text">
                </div>
                <div class="col-sm-6"> 
                    <div style="display:inline-block; background-color: #9a9292; color: white;border-radius: 100%;text-align: center; width: 24px; margin: 12px;">
                        [[cabImg.length]]
                    </div>
                    <button type="button" class="btn btn-primary" ng-click=addImg()>add more</button>
                </div>
            </div>

    
            <fieldset>
                <h4>Amenity</h4>
                <div class="row">
    
                    <div class="col-sm-4 panel h25" ng-repeat=" (amenity_key, amenity_value) in  amenities">
    
                        <label>
                            
                            <input type="checkbox" ng-model="restaurantData.amenities[amenity_key]" ng-true-value="true" ng-false-value="false" ng-disabled="disable_amenity">[[amenity_key]]
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Fuel Capacity:</label>
                            <input type="number" class="form-control" ng-model="restaurantData.name" ng-required="true">
        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Fuel Type:</label>
                            <input type="number" class="form-control" step="any" ng-model="restaurantData.rating" ng-required="true">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Seater:</label>
                            <input type="number" class="form-control" ng-model="restaurantData.name" ng-required="true">
        
                        </div>
                    </div>
                </div>

                 
    
            </fieldset>

            <fieldset>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Deal</h4>
                    </div>
                    <div class="col-sm-6" style="display:inline-block; background-color: #9a9292; color: white;border-radius: 100%;text-align: center; width: 24px; ">
                        [[cabDeals.length]]
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Base Fare:</label>
                            <input type="number" class="form-control" ng-model="restaurantData.name" ng-required="true">
        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Base Fare Peak Season:</label>
                            <input type="number" class="form-control" step="any" ng-model="restaurantData.rating" ng-required="true">
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Base Fare Weekend:</label>
                            <input type="number" class="form-control" ng-model="restaurantData.name" ng-required="true">
        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Base Fare with Fuel:</label>
                            <input type="number" class="form-control" step="any" ng-model="restaurantData.rating" ng-required="true">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Cancellation Charge:</label>
                            <input type="number" class="form-control" ng-model="restaurantData.name" ng-required="true">
        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Car Night Allowance Charge:</label>
                            <input type="number" class="form-control" step="any" ng-model="restaurantData.rating" ng-required="true">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Driver Night Allowance Charge:</label>
                            <input type="number" class="form-control" ng-model="restaurantData.name" ng-required="true">
        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Different pickup drop point Charge:</label>
                            <input type="number" class="form-control" step="any" ng-model="restaurantData.rating" ng-required="true">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Fare exceeded per Km:</label>
                            <input type="number" class="form-control" ng-model="restaurantData.name" ng-required="true">
        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Fare exceeded per Hr:</label>
                            <input type="number" class="form-control" step="any" ng-model="restaurantData.rating" ng-required="true">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Intial Km:</label>
                            <input type="number" class="form-control" ng-model="restaurantData.name" ng-required="true">
        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Intial Km Fare:</label>
                            <input type="number" class="form-control" step="any" ng-model="restaurantData.rating" ng-required="true">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Km Restriction:</label>
                            <input type="number" class="form-control" ng-model="restaurantData.name" ng-required="true">
        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Slab:</label>
                            <input type="number" class="form-control" step="any" ng-model="restaurantData.rating" ng-required="true">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>
                            <input type="checkbox" ng-model="restaurantData.name" ng-required="true">One Way
                            </label>
        
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>
                            <input type="checkbox" step="any" ng-model="restaurantData.rating" ng-required="true">Outstation
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Website name:</label>
                                <select class="form-control" ng-model="deals.website_id">
                                    <option ng-repeat="obj in websites" value="[[obj.id]]">[[obj.website]]</option>
                                </select>  
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Cab Url: </label>
                                <input  class="form-control" id="name"  ng-model="deals.hotel_url" type="text" required>
                            </div>
                        </div>
                    </div>   

                    <div class="form-group">        
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary" ng-click=addPrice()>Add more deals</button>
                        </div>
                    </div>

            </fieldset>
    
           
            <div class="form-group">
                <br>
                <label>
                    <input type="checkbox" ng-model="restaurantData.featured" ng-true-value="true" ng-false-value="false">Is partner?
                </label>
            </div>
            <!-- </form> -->
            <hr>
        </div>
    
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="search" placeholder="search cabs...">
            </div>
    
            <div class="row">
                <div class="col-sm-4" ng-repeat="restaurant in restaurants | filter: search">
                    <div class="thumbnail">
                        <img ng-src="[[restaurant.images[0].image_url]]" alt="">
                        <div class="caption">
                            <h4>[[restaurant.name]]</h4>
                            <p>
                                <span>location :
                                    <span>[[restaurant.city]]</span>
                                </span>
                            </p>
                            <p>
                                <button class="btn btn-primary" role="button" ng-click="$parent.editRestaurant(restaurant)">Edit</button>
                                <button class="btn btn-default" role="button" ng-click="deleteRestaurant(restaurant.id, $index)">Delete</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>
    
    {% endblock%}