<section id="content" class="gray-area">
        <div class="container">
                <div id="main">
                        <div class="sort-by-section clearfix">
                                <div class="search-tab-content">
                                        <i class="soap-icon-passenger white-color skin-bg no-border pull-left" style="font-size: 74px; margin-right: 30px;"></i>
                                        <form action="car-list-view.html" method="post">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <h4 class="title">Where</h4>
                                                    <div class="form-group">
                                                        <label>Pick Up</label>
                                                        <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-4">
                                                    <h4 class="title">When</h4>
                                                    <div class="form-group">
                                                        <label>Pick-Up Date / Time</label>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="datepicker-wrap">
                                                                    <input type="text" name="date_from" class="input-text full-width hasDatepicker" placeholder="mm/dd/yy" id="dp1532023224428"><img class="ui-datepicker-trigger" src="images/icon/blank.png" alt="" title="">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="selector">
                                                                    <select class="full-width">
                                                                        <option value="1">anytime</option>
                                                                        <option value="2">morning</option>
                                                                    </select><span class="custom-select full-width">anytime</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Drop-Off Date / Time</label>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <div class="datepicker-wrap">
                                                                    <input type="text" name="date_to" class="input-text full-width hasDatepicker" placeholder="mm/dd/yy" id="dp1532023224429"><img class="ui-datepicker-trigger" src="images/icon/blank.png" alt="" title="">
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <div class="selector">
                                                                    <select class="full-width">
                                                                        <option value="1">anytime</option>
                                                                        <option value="2">morning</option>
                                                                    </select><span class="custom-select full-width">anytime</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="submit" class="full-width" style="margin-top: 100px">SEARCH NOW</button>
                                                </div>
                                            </div>
                                        </form>
                                        </div>
                            </div>                        
                <div class="row" style="margin-top:15px;">
                        <div class="col-sm-4 col-md-3">
                              <div class="toggle-container filters-container">
                                    <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#cartype-filter" class="collapsed">Type of car</a>
                                            </h4>
                                            <div id="cartype-filter" class="panel-collapse collapse filters-container">
                                                <div class="panel-content">
                                                    <ul class="check-square filters-option">
                                                        <li><a href="#">Full Size<small>(10)</small></a></li>
                                                        <li><a href="#">Compact<small>(82)</small></a></li>
                                                        <li class="active"><a href="#">Economy<small>(127)</small></a></li>
                                                        <li><a href="#">Luxury / Premium<small>(22)</small></a></li>
                                                        <li><a href="#">Mini Car<small>(38)</small></a></li>
                                                        <li><a href="#">Van / Minivan<small>(39)</small></a></li>
                                                        <li><a href="#">Exotic / Special<small>(72)</small></a></li>
                                                    </ul>
                                                    <a class="button btn-mini">MORE</a>
                                                </div>
                                            </div>
                                        </div>
                                <div class="panel style1 arrow-right">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#price-filter" class="collapsed">Price</a>
                                        </h4>
                                        <div id="price-filter" class="panel-collapse collapse">
                                            <div class="panel-content">
                                                <div class="price-range"></div>
                                                <br />
                                                <span class="min-price-label pull-left"></span>
                                                <span class="max-price-label pull-right"></span>
                                                <div class="clearer"></div>
                                            </div><!-- end content -->
                                        </div>
                                    </div>
                                    <div class="panel style1 arrow-right">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#Base-Fare-filter" class="collapsed">Base Fare</a>
                                            </h4>
                                            <div id="Base-Fare-filter" class="panel-collapse collapse">
                                                <div class="panel-content">
                                                    <div class="price-range"></div>
                                                    <br />
                                                    <span class="min-price-label pull-left"></span>
                                                    <span class="max-price-label pull-right"></span>
                                                    <div class="clearer"></div>
                                                </div><!-- end content -->
                                            </div>
                                        </div>
                                        <div class="panel style1 arrow-right">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#Free-Km-filter" class="collapsed">Free Km</a>
                                                </h4>
                                                <div id="Free-Km-filter" class="panel-collapse collapse">
                                                    <div class="panel-content">
                                                        <div class="price-range"></div>
                                                        <br />
                                                        <span class="min-price-label pull-left"></span>
                                                        <span class="max-price-label pull-right"></span>
                                                        <div class="clearer"></div>
                                                    </div><!-- end content -->
                                                </div>
                                            </div>
                                            <div class="panel style1 arrow-right">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" href="#Air-Condition-filter" class="collapsed">Air Condition</a>
                                                    </h4>
                                                    <div id="Air-Condition-filter" class="panel-collapse collapse filters-container">
                                                        <div class="panel-content">
                                                            <ul class="check-square filters-option">
                                                                <li><a href="#">Available</a></li>
                                                                <li><a href="#">Not Available</a></li>
                                                            </ul>
                                                            <a class="button btn-mini">MORE</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel style1 arrow-right">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" href="#Seater-filter" class="collapsed">Seater</a>
                                                        </h4>
                                                        <div id="Seater-filter" class="panel-collapse collapse filters-container">   
                                                            <div class="panel-content"> 
                                                                <ul class="check-square filters-option"> 
                                                                    <li><a href="#">1</a></li>
                                                                    <li><a href="#">2</a></li>
                                                                    <li><a href="#">3</a></li>
                                                                    <li><a href="#">4</a></li>
                                                                    <li><a href="#">5</a></li>
                                                                    <li><a href="#">6</a></li>
                                                                    <li><a href="#">7</a></li>
                                                                    <li><a href="#">8</a></li>
                                                                    <li><a href="#">9</a></li>
                                                                    <li><a href="#">10</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel style1 arrow-right">
                                                            <h4 class="panel-title">
                                                                <a data-toggle="collapse" href="#Fuel-Type-filter" class="collapsed">Fuel Type</a>
                                                            </h4>
                                                            <div id="Fuel-Type-filter" class="panel-collapse collapse filters-container">
                                                                <div class="panel-content"> 
                                                                    <ul class="check-square filters-option">
                                                                        <li><a href="#">Petrol</a></li>
                                                                        <li><a href="#">Diesel</a></li>
                                                                        <li><a href="#">CNG</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel style1 arrow-right">
                                                                <h4 class="panel-title">
                                                                    <a data-toggle="collapse" href="#Transmission-filter" class="collapsed">Transmission</a>
                                                                </h4>
                                                                <div id="Transmission-filter" class="panel-collapse collapse">
                                                                    <div class="panel-content">
                                                                        <div class="price-range"></div>
                                                                        <br />
                                                                        <span class="min-price-label pull-left"></span>
                                                                        <span class="max-price-label pull-right"></span>
                                                                        <div class="clearer"></div>
                                                                    </div><!-- end content -->
                                                                </div>
                                                            </div>
                                                            <div class="panel style1 arrow-right">
                                                                    <h4 class="panel-title">
                                                                        <a data-toggle="collapse" href="#Baggage-Allowance-filter" class="collapsed">Baggage Allowance</a>
                                                                    </h4>
                                                                    <div id="Baggage-Allowance-filter" class="panel-collapse collapse filters-container">
                                                                        <div class="panel-content">   
                                                                            <ul class="check-square filters-option">
                                                                                <li><a href="#">Allowed</a></li>
                                                                                <li><a href="#">Not Allowed</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#Doorstep-Delivery-filter" class="collapsed">Doorstep Delivery</a>
                                    </h4>
                                    <div id="Doorstep-Delivery-filter" class="panel-collapse collapse filters-container">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li><a href="#">Available</a></li>
                                                <li><a href="#">Not Available</a></li>
                                            </ul>
                                            <a class="button btn-mini">MORE</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#With-Without-Fuel-filter" class="collapsed">With / Without Fuel</a>
                                    </h4>
                                    <div id="With-Without-Fuel-filter" class="panel-collapse collapse filters-container">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li><a href="#">With fuel<small>(08)</small></a></li>
                                                <li><a href="#">Without fuel<small>(32)</small></a></li>
                                            </ul>
                                            <a class="button btn-mini">MORE</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#Fuel-Capacity-filter" class="collapsed">Fuel Capacity </a>
                                    </h4>
                                    <div id="Fuel-Capacity-filter" class="panel-collapse collapse filters-container">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li><a href="#">Passenger Quantity</a></li>
                                                <li><a href="#">Satellite Navigation</a></li>
                                                <li><a href="#">Air Conditioning</a></li>
                                                <li><a href="#">Doors</a></li>
                                                <li><a href="#">Diesel Vehicle</a></li>
                                            </ul>
                                            <a class="button btn-mini">MORE</a>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- <div class="panel style1 arrow-right">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#Verified-Driver-panel" class="collapsed">Verified Driver</a>
                                    </h4>
                                    <div id="Verified-Driver-panel" class="panel-collapse collapse filters-container">
                                        <div class="panel-content">
                                            <ul class="check-square filters-option">
                                                <li><a href="#">Verified<small>(08)</small></a></li>
                                                <li><a href="#">not Verified<small>(32)</small></a></li>
                                            </ul>
                                            <a class="button btn-mini">MORE</a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-9">        
                                <div class="car-list" style="margin-top:0px;">
                                <div class="row image-box car listing-style1">
                                    
                                        <div class="col-sms-6 col-sm-6 col-md-6">
                                        <article class="box">
                                            <figure>
                                                <a title="" href="#"><img alt="" src="images/cars/19.png"></a>
                                            </figure>
                                            <div class="details">
                                                <span class="price"><small>per day</small>$45.39</span>
                                                <h4 class="box-title">Full Size<small>Toyota camry</small></h4>
                                                <div class="amenities">
                                                    <ul>
                                                        <li><i class="fa fa-hdd circle"></i>AC</li>
                                                        <li><i class="fa fa-car circle"></i>3</li>
                                                        <li><i class="fa fa-fill-drip circle"></i>f</li>
                                                        <li><i class="fa fa-suitcase circle"></i>BA</li>
                                                        <li><i class="fa fa-door-open circle"></i>DD</li>
                                                    </ul>
                                                </div>
                                                 <div class="action row">
                                                     <div class="col-xs-6">
                                                      <a class="button btn-small yellow full-width" style="padding:0 8px;" data-toggle="collapse" data-target="#3">More Deals</a>
                                                    </div>
                                                    <div class="col-xs-6">
                                                    <div class="price full-width"><small>per day</small>$45.39</div>
                                                    </div>
                                                </div>        
                                                   
                                                
                                            </div>
                                            <div id="3" class="col sm-12 collapse" style="transition: 2s;" aria-expanded="true">
                                            
                                        <table class="table table-hover">
                                            
                                            <!-- ngRepeat: rm in deal.roomdata.hoteldata.rooms --><tbody ng-repeat="rm in deal.roomdata.hoteldata.rooms" class="ng-scope">
                                            <!-- ngRepeat: deal in rm.deals | limitTo:lim  --><tr ng-repeat="deal in rm.deals | limitTo:lim " class="ng-scope">
                                                <td><img></td>
                                                <!-- ngIf: [[rm.room_type]]==1 --><td ng-if="1==1" class="ng-scope">Premium</td><!-- end ngIf: [[rm.room_type]]==1 -->
                                                <!-- ngIf: [[rm.room_type]]==2 -->
                                                <!-- ngIf: [[rm.room_type]]==3 -->
                                                <!-- ngIf: [[rm.room_type]]==4 -->
                                                <!-- ngIf: [[rm.room_type]]==5 -->
                                                <td><a class="button btn-mini orange" ng-click="showDetail(deal.room)">View Detail</a></td>
                                                <td class="price"><a href="https://imgio.trivago.com/uploadimages/33/10/33109706_x.jpeg" class="ng-binding">₹3333</a></td>
                                            </tr><!-- end ngRepeat: deal in rm.deals | limitTo:lim  -->
                                            
                                            <!-- <tr>
                                                <td><a href="" class="uppercase full-width button btn-large" ng-click='loadmoredeals()'>load more deals</a></td>
                                            </tr> -->
                                            </tbody><!-- end ngRepeat: rm in deal.roomdata.hoteldata.rooms -->
                                        
                                        </table>
                                        
                                        </div>
                                        </article>
                                    </div>
                                    
                                    <div class="col-sms-6 col-sm-6 col-md-6">
                                        <article class="box">
                                            <figure>
                                                <a title="" href="#"><img alt="" src="images/cars/19.png"></a>
                                            </figure>
                                            <div class="details">
                                                <span class="price"><small>per day</small>$45.39</span>
                                                <h4 class="box-title">Full Size<small>Toyota camry</small></h4>
                                                <div class="amenities">
                                                    <ul>
                                                        <li><i class="fa fa-hdd circle"></i>AC</li>
                                                        <li><i class="fa fa-car circle"></i>3</li>
                                                        <li><i class="fa fa-fill-drip circle"></i>f</li>
                                                        <li><i class="fa fa-suitcase circle"></i>BA</li>
                                                        <li><i class="fa fa-door-open circle"></i>DD</li>
                                                    </ul>
                                                </div>
                                                 <div class="action row">
                                                     <div class="col-xs-6">
                                                      <a class="button btn-small yellow full-width" style="padding:0 8px;" data-toggle="collapse" data-target="#2">More Deals</a>
                                                    </div>
                                                    <div class="col-xs-6">
                                                    <div class="price full-width"><small>per day</small>$45.39</div>
                                                    </div>
                                                </div>        
                                                   
                                                
                                            </div>
                                            <div id="2" class="col sm-12 collapse" style="transition: 2s;" aria-expanded="true">
                                            
                                        <table class="table table-hover">
                                            
                                            <!-- ngRepeat: rm in deal.roomdata.hoteldata.rooms --><tbody ng-repeat="rm in deal.roomdata.hoteldata.rooms" class="ng-scope">
                                            <!-- ngRepeat: deal in rm.deals | limitTo:lim  --><tr ng-repeat="deal in rm.deals | limitTo:lim " class="ng-scope">
                                                <td><img></td>
                                                <!-- ngIf: [[rm.room_type]]==1 --><td ng-if="1==1" class="ng-scope">Premium</td><!-- end ngIf: [[rm.room_type]]==1 -->
                                                <!-- ngIf: [[rm.room_type]]==2 -->
                                                <!-- ngIf: [[rm.room_type]]==3 -->
                                                <!-- ngIf: [[rm.room_type]]==4 -->
                                                <!-- ngIf: [[rm.room_type]]==5 -->
                                                <td><a class="button btn-mini orange" ng-click="showDetail(deal.room)">View Detail</a></td>
                                                <td class="price"><a href="https://imgio.trivago.com/uploadimages/33/10/33109706_x.jpeg" class="ng-binding">₹3333</a></td>
                                            </tr><!-- end ngRepeat: deal in rm.deals | limitTo:lim  -->
                                            
                                            <!-- <tr>
                                                <td><a href="" class="uppercase full-width button btn-large" ng-click='loadmoredeals()'>load more deals</a></td>
                                            </tr> -->
                                            </tbody><!-- end ngRepeat: rm in deal.roomdata.hoteldata.rooms -->
                                        
                                        </table>
                                        
                                        </div>
                                        </article>
                                    </div>
                                    
                                </div>
                            </div>
                            <a href="#" class="button uppercase full-width btn-large">load more listings</a>
                        </div>
                    </div>
            </div>
        </div>
    </section>