
    {% include '/restaurant/components/header_with_searchbar.html' %}

    <div class="container">
        
        <div class="row image-box style2 add-clearfix mt20">
            <h2 class="col-md-12">
                    Showing Collection for {{user_location}}
            </h2>

            {% if collections|length > 0 %}
            {% for collection_key, collection_value in collections.items() %}
            <div class="col-md-4">
                <article class="box">
                    <figure>
                        <a title="" href="/restaurant/search?city={{user_location}}&collection={{collecion_key}}">
                            <img width="270" height="192" alt="golden collection 2" src="{{collection_value.image}}">
                        </a>
                    </figure>
                    <div class="details">
                        <a href="/restaurant/search?city={{user_location}}&collection={{collection_key}}"><h4 class="box-title">{{collection_key}}</h4></a> 
                        <p>{{collection_value.desc}} </p>
                    </div>
                </article>
            </div>
            {% endfor %}

            {% else %}
            <div class="col-sm-12">
                <div class="box">
                    No Collection found!!
                </div>
            </div>

            {% endif %}
        </div>



    </div>
{% include '/restaurant/components/footer.html' %}

</body>

</html>