{% extends '/restaurant/components/dashboard_header.html' %} {% block controller%}dashboardCollectionController{% endblock
%} {% block content %}

<div class="row">
    <div class="col-md-6">
        <h3>Edit Colection</h3>

        <div ng-show="!addCollection">

            <div "(collection_key, colection_value) in collectionData">

                <label>Collection name</label>
                <input type="text" ng-model="collectionData.collection" class="form-control">
                <label>Image</label>
                <input type="text" ng-model="collectionData.image" class="form-control">
                <label>Short description</label>
                <input type="text" ng-model="collectionData.desc" class="form-control">
                <label>featured on home page?</label>
                <input type="checkbox" ng-model="collectionData.featured" ng-true-value="true" ng-false-value="false">

            </div>
        </div>

        <div ng-show="addCollection">
            <div ng-repeat="collection in restaurantData.collections">
                <button class="btn btn-danger pull-right" ng-click="restaurantData.collections.splice($index,1);" ng-if="$index != 0" ng-disabled="disable_association">remove</button>

                <label>Collection name</label>
                <input type="text" ng-model="collection.collection" class="form-control">
                <label>Image</label>
                <input type="text" ng-model="collection.image" class="form-control">
                <label>Short description</label>
                <input type="text" ng-model="collection.desc" class="form-control">
                <label>featured on home page?</label>
                <input type="checkbox" ng-model="collection.featured" ng-true-value="true" ng-false-value="false">

            </div>
            <button class="btn btn-default" ng-click="addMore()" style="margin:10px 0;">add more</button>


        </div>



        <button class="btn btn-success" ng-disabled="disable_update" ng-click="this[functionCall]()">[[functionCall]]</button>
        <button class="btn btn-default" ng-show="!addCollection" ng-click="addMoreCollection()">Add new collection</button>

    </div>

    <div class="col-sm-6">
        <h3>Choose collection to update or delete.</h3>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="search" placeholder="search...">
        </div>

        <div class="row">
            <div class="col-sm-4" ng-repeat="collection in collections | filter: search">
                <div class="thumbnail">
                   
                    <div class="caption">
                        <h4>[[collection.collection]] <span class="badge badge-success" ng-if="collection.featured" title="featured"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span></h4>
                        <p>
                           
                                <span>[[collection.desc]]</span>
                            
                        </p>
                        <p>
                            <button class="btn btn-primary" role="button" ng-click="$parent.editCollection(collection)">Edit</button>
                            <button class="btn btn-default" role="button" ng-click="$parent.deleteCollection(collection.id, $index)">Delete</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}