{% extends '/restaurant/components/dashboard_header.html' %} {% block controller%}dashboardAmenityController{% endblock %}
{% block content %}



<div class="row">
    <div class="col-sm-6">
        <h3>Edit Amenity</h3>
        <div class="row">

            <div class="col-sm-4 panel h25" ng-repeat=" (amenity_key, amenity_value) in  amenities">

                <label>
                    [[amenity_key]]
                    <input type="checkbox" ng-model="restaurantData.amenities[amenity_key]" ng-true-value="true" ng-false-value="false" ng-disabled="disable_amenity">
                </label>
            </div>
        </div>

        <button class="btn btn-default" ng-disabled="disable_update" ng-click="update()">Update</button>

    </div>
    <div class="col-sm-6">
        <h3>Choose restaurant to update or delete amenity.</h3>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="search" placeholder="search hotels...">
        </div>

        <div class="row">
            <div class="col-sm-4" ng-repeat="restaurant in restaurants | filter: search">
                <div class="thumbnail">
                    <img ng-src="[[restaurant.images[0].image_url]]" alt="">
                    <div class="caption">
                        <h4>[[restaurant.name]]</h4>
                        <p>
                            <span>location :
                                <span>[[restaurant.city]]</span>
                            </span>
                        </p>
                        <p>
                            <button class="btn btn-primary" role="button" ng-click="$parent.editAmenity(restaurant)">Edit</button>
                            <!-- <button class="btn btn-default" role="button" ng-click="deleteAmenity()">Delete</button> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>



{% endblock %}