{% extends '/restaurant/components/dashboard_header.html' %} {% block controller%}dashboardController{% endblock %} {% block
content%}
<h3>Enter Reataurant Details</h3>

<div class="row">
    <div class="col-sm-6">
        <!-- <form> -->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="restaurantData.name" ng-required="true">

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Rating(out of 5.0)</label>
                    <input type="number" class="form-control" step="any" ng-model="restaurantData.rating" ng-required="true">
                </div>
            </div>
        </div>


        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" ng-model="restaurantData.desc" ng-required="true"></textarea>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>City</label>
                    <br>
                    <!-- <input type="text" class="form-control" ng-model="" ng-required="true"> -->
                    <select ng-model="restaurantData.city">
                        <option value disabled selected>--Select Your Location--</option>
                        <option value="[[location]]" ng-repeat="location in locations">[[location]]</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Phone</label>
                    <input type="number" class="form-control" step="any" ng-model="restaurantData.phone" ng-required="true">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="from-group">
                    <label>Website</label>
                    <input type="text" class="form-control" ng-model="restaurantData.website" placeholder="http://wwww.example.com">
                </div>
            </div>
            <div class="col-sm-6">
                <label>Mode of payment</label>
                <input type="text" class="form-control" ng-model="restaurantData.mode_of_payment" >
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Latitude</label>
                    <input type="number" class="form-control" step="any" ng-model="restaurantData.latitude" ng-required="true">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Longitude</label>
                    <input type="number" class="form-control" step="any" ng-model="restaurantData.longitude" ng-required="true">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Address</label>
                    <textarea class="form-control" ng-model="restaurantData.address" ng-required="true"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <label>Locality</label>
                <input type="text" class="form-control" ng-model="restaurantData.locality">
            </div>
        </div>



        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Nearest Metro Station</label>
                    <input type="text" class="form-control" ng-model="restaurantData.nearest_metro_station" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Especially</label>
                    <input type="text" class="form-control" ng-model="restaurantData.especially">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Open at (00:00)</label>
                    <input type="text" class="form-control" ng-model="restaurantData.opening_time" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Close at (00:00)</label>
                    <input type="text" class="form-control" ng-model="restaurantData.closing_time">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Break Time(00:00)</label>
                    <input type="text" class="form-control" ng-model="restaurantData.break_time" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Break Interval(how long is break (in hours))</label>
                    <input type="text" class="form-control" ng-model="restaurantData.break_interval">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Category</label>
                    <br>
                    <select ng-model="restaurantData.category" ng-required="true">
                        <option value disabled>-- select category --</option>
                        <option value="[[$index+1]]" ng-repeat="category in categories">[[category]]</option>
                    </select>

                    <!-- <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="true">
                                        Select Category
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li ng-repeat="category in categories">
                                            <a href="#">[[category]]</a>
                                        </li>


                                    </ul>
                                </div> -->




                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Price for two</label>
                    <input type="number" class="form-control" ng-model="restaurantData.price" ng-required="true">
                </div>
            </div>
        </div>

        <fieldset>
            <h4>Amenity</h4>
            <div class="row">

                <div class="col-sm-4 panel h25" ng-repeat=" (amenity_key, amenity_value) in  amenities">

                    <label>
                        [[amenity_key]]
                        <input type="checkbox" ng-model="restaurantData.amenities[amenity_key]" ng-true-value="true" ng-false-value="false" ng-disabled="disable_amenity">
                    </label>
                </div>
            </div>

        </fieldset>

        <div ng-repeat="association in restaurantData.association">
            <button class="btn btn-danger pull-right" ng-click="restaurantData.association.splice($index,1);" ng-if="$index != 0" ng-disabled="disable_association">remove</button>

            <div class="row">

                <div class="col-sm-6">

                    <div class="form-group">
                        <h4>Collection</h4>
                        <div ng-show="!$parent.addNewCollection[$index]">
                            <select ng-model="association.collections.collection_id" ng-disabled="disable_association">
                                <option value disabled selected> -- Select Collection --</option>

                                <option value="[[collectionData.id]]" ng-repeat="collectionData in collection">[[collectionData.collection]]</option>
                            </select>
                            or
                            <button class="btn btn-default" ng-click="$parent.addNewCollection[$index] = true" ng-disabled="disable_association">Add Collection</button>
                        </div>
                        <div ng-show="$parent.addNewCollection[$index]">
                            <label>Collection name</label>
                            <input type="text" ng-model="association.collections.collection" class="form-control">
                            <label>Image</label>
                            <input type="text" ng-model="association.collections.image" class="form-control">
                            <label>Short description</label>
                            <input type="text" ng-model="association.collections.desc" class="form-control">
                            <label>featured on home page?</label>
                            <input type="checkbox" ng-model="association.collections.featured" ng-true-value="true" ng-false-value="false">
                            <br>
                            <button class="btn btn-default" ng-click="$parent.addNewCollection[$index] = false;">cancel</button>

                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">

                        <h4>Cuisine</h4>
                        <div ng-if="!addNewCuisine[$index]">
                            <select ng-model="association.cuisines.cuisine_id" ng-disabled="disable_association">
                                <option value disabled selected> -- Select Cuisine --</option>
                                <option value="[[cuisineData.id]]" ng-repeat=" cuisineData in  cuisine">[[cuisineData.cuisine]]</option>
                            </select>
                            or
                            <br>
                            <button class="btn btn-default" ng-click="$parent.addNewCuisine[$index] = true" ng-disabled="disable_association">Add Cuisine</button>
                        </div>

                        <div ng-if="addNewCuisine[$index]">
                            <label>Cuisine name</label>
                            <input type="text" ng-model="association.cuisines.cuisine" class="form-control">
                            <button class="btn btn-default" ng-click="$parent.addNewCuisine[$index] = false;">cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <buttton class="btn btn-default" ng-click="addMoreAssociation()" ng-disabled="disable_association">Add more association</buttton>

        <fieldset>
            <h4>Menu</h4>
            <div class="row">

                <div class="col-sm-4 panel" ng-repeat=" menuData in  menu">

                    <label>
                        [[menuData]]
                        <input type="checkbox" ng-model="restaurantData.menus[menuData]" ng-true-value="true" ng-false-value="false" ng-disabled="disable_menu">
                    </label>
                </div>
            </div>

        </fieldset>

        <div>
            <div ng-repeat="imageData in restaurantData.images" class="mt10">
                <button class="btn btn-danger pull-right" ng-click="restaurantData.images.splice($index,1);" ng-if="$index != 0" ng-disabled="disable_images">remove</button>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Image Type</label>
                        <br>
                        <select ng-model="imageData.image_type" ng-required="true" ng-disabled="disable_images">
                            <option value disabled>Select image type for restaurant</option>
                            <option value="[[image_enum]]" ng-repeat="(image_enum, image_type) in image_types">[[image_type]]</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <span>
                            URL
                            <input type="text" ng-model="imageData.image_url" class="form-control" ng-disabled="disable_images" ng-required="true">
                            <img class="img-responsive img-thumbnail img-small50" ng-show="imageData.image_url" src="[[imageData.image_url]]" alt="[[imageData.image_url]]">
                        </span>
                    </div>
                </div>




            </div>

            <button class="btn btn-default" ng-click="addMoreRestaurantImages()" ng-disabled="disable_images">Add More Images</button>


        </div>


        <div class="mt10" ng-repeat=" dish in restaurantData.dishes">

            <div class="row">
                <div class="col-sm-12">
                    <span class="btn btn-danger pull-right" ng-click="restaurantData.dishes.splice($index,1);" ng-if="$index != 0" ng-disabled="disable_dish">remove</span>
                    <h4>Dish #[[$index+1]]</h4>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>
                            Name
                            <input type="text" class="form-control" ng-model="dish.dish" ng-required="true" ng-disabled="disable_dish">
                        </label>
                    </div>

                </div>
                <div class="col-sm-4">
                    <label>
                        Half Price
                        <input type="number" class="form-control" ng-model="dish.half_price" ng-required="true" ng-disabled="disable_dish">
                    </label>
                </div>
                <div class="col-sm-4">
                    <label>
                        Full Price
                        <input type="number" class="form-control" ng-model="dish.full_price" ng-required="true" ng-disabled="disable_dish">
                    </label>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>
                        Category
                        <br>
                    </label>
                    <input class="form-control" ng-model="dish.dish_type" ng-required="true" ng-disabled="disable_dish" />
                </div>
                <div class="col-sm-6">
                    <label>
                        Image
                    </label>
                    <input type="text" class="form-control" ng-model="dish.image" ng-required="true" ng-disabled="disable_dish">
                </div>
            </div>
            <label>
                Description
            </label>
            <textarea class="form-control" ng-model="dish.desc" ng-required="true" ng-disabled="disable_dish"></textarea>

        </div>
        <button class="btn btn-default" ng-click="addMoreDish()" ng-disabled="disable_dish">Add More Dish</button>








        <div class="form-group">
            <label>is featured? (sponsored restaurant shown at home page)
                <input type="checkbox" ng-model="restaurantData.featured" ng-true-value="true" ng-false-value="false">
            </label>
        </div>


        <div class="row">
            <div class="col-sm-6" ng-show="!showAddBranch">
                <label>Add Branch</label>
                <select ng-model="restaurantData.restaurent_chain.restaurant_chain_id">
                    <option value disabled>-- select branch--</option>
                    <option ng-value="[[chain.id]]" ng-repeat="chain in restaurent_chain">[[chain.restaurant_chain_name]]</option>
                </select>
                or
                <button class="btn btn-default" ng-click="showAddBranch = true;">Add Branch</button>
            </div>

            <div class="" ng-show="showAddBranch">
                <label> Category </label>
                <select ng-model="restaurantData.restaurent_chain.restaurant_chain_category">
                    <option value disabled>-- Select Category --</option>
                    <option value="[[$index+1]]" ng-repeat="category in categories">[[category]]</option>
                </select>

                <label>Description</label>
                <input type="text" class="form-control" ng-model="restaurantData.restaurent_chain.restaurant_chain_desc">

                <label>Branch Name</label>
                <input type="text" class="form-control" ng-model="restaurantData.restaurent_chain.restaurant_chain_name">
                <!-- <button class="btn btn-default" ng-click="showAddBranch = false;"></button> -->
                <button class="btn btn-default" ng-click="showAddBranch = false;">Cancel</button>
            </div>
        </div>





        <button class="btn btn-default" ng-click="this[functionCalling]()">[[functionCalling]]</button>
        <button class="btn btn-default" ng-click="functionCalling = 'Add'" ng-show="functionCalling == 'Update'">Cancel</button>
        <!-- </form> -->
        <hr>
    </div>

    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-4 form-group">
                <!-- <select ng-model="restaurantLocation" ng-change="getRestaurantByLocation(restaurantLocation)">
                    <option value disabled>--Select Location--</option>
                    <option ng-value="[[location]]" ng-repeat="location in locations">[[location]]</option>
                </select> -->

                <div class="dropdown pull-right makePaymentDropdownMainDiv" style="width:100%;" auto-close="outsideClick" ng-init="userLocation = 'Delhi'">

                    <input ng-cloak style="font-size:12px;" disable-auto-close type="search" data-toggle="dropdown" ng-model="serchFilter" id="individualDrop"
                        class="dropdown-toggle makePaymentDropdownSearchBox form-control" placeholder="Enter a city" />

                    <ul class="dropdown-menu makePaymentDropdownUlStyle" role="menu" aria-labelledby="individualDrop">
                        <li role="presentation">
                            <a role="menuitem" href="javascript:;" ng-click="$parent.getRestaurantByLocation()">All location</a>
                        </li>
                        <li role="presentation" ng-repeat="indi in locations | filter: serchFilter">
                            <a role="menuitem" href="javascript:;" ng-click="$parent.getRestaurantByLocation(indi)">[[indi]]</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="search" placeholder="search hotels...">
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-4" ng-repeat="restaurant in restaurants | filter: search">
                <div class="thumbnail">
                    <img ng-src="[[restaurant.images[0].image_url]]" alt="">
                    <div class="caption">
                        <h4>[[restaurant.name]]</h4>
                        <p>
                            <span>location :
                                <span>[[restaurant.city]]</span>
                            </span>
                        </p>
                        <p>
                            <button class="btn btn-primary" role="button" ng-click="$parent.editRestaurant(restaurant)">Edit</button>
                            <button class="btn btn-default" role="button" ng-click="deleteRestaurant(restaurant.id, $index)">Delete</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock%}