.filter-container{
    padding : 0 10px;
}

.card{
    background: #FFF;
    box-shadow: none;
    margin: 1rem 0;
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid #e7e7e7;
}
hr{
    border-color: #dddada;
}

.restaurant-address, .truncate-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.restaurant-details{
    font-size: 1.1666em;
    line-height: 1.1428em;
    color : #5e5d5d;
    margin: 0 0 15px;
}
.detail-title{
    color: #646464;
}

.rating-container{
    background-color: #5BA829;
    border-radius: 10px;
    padding: 5px;
    color:#fff;
    font-weight: 700;
    
}
.search-input-text{
    z-index: 10;
}

.no-restaurant{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 20px;
}

.search-suggestion-box{
    display: none;
    /* height: 500px; */
    position: absolute;
    top: 70%;
    width: 570px;
    background: rgba(245, 245, 245, 0.961);
    left: 86px;
    z-index: 1000;
}
.z-index-10{
    z-index: 10;
}

#overlay-box{
    z-index: 9;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000000;
    display: none;
}

#search-suggestion-list > li{
    padding:10px 5px;
    font-size: 16px;

}

#search-suggestion-list > li > a{
    display: block;
}    

.highlightedText{
    font-weight: 900;

}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) { 
    .search-suggestion-box{
        top: 58%;
        width: 83%;
        left: 59px;
    
}
.collection-card{
    /* background: rgba(255, 255, 1, 0.514); */
}

.collection-card article figure{
    width:100% !important;
}



} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
    .search-suggestion-box{
    top: 70%;
    width: 570px;
    left: 86px;
    
}

.collection-card{
    /* background: rgba(255, 1, 1, 0.514); */
}



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    .search-suggestion-box{
        top: 53%;
        width: 358px;
        left: 101px;
    
}

.collection-card{
    /* background: rgba(43, 255, 1, 0.514); */

}

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
    .search-suggestion-box{
    top: 70%;
    width: 570px;
    left: 86px;
    
}
.collection-card{
    /* background: rgba(39, 1, 255, 0.514); */
}

.collection-card-details {
    padding-left: 200px !important;
}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    .search-suggestion-box{
        top: 58%;
        width: 482px;
        left: 311px;
    
}
.collection-card{
    /* background: rgba(204, 1, 255, 0.514); */
}

.collection-card article figure{
    width: 50% !important;
}

.collection-card-details {
    padding-left: 200px !important;
}


}

.filter{
    padding-top:10px;
    margin-bottom: 0;
}
.filter legend{
    margin-bottom: 5px
}
.restaurant-image{
    background: url("../Resturants_files/loader.gif") no-repeat;
}

.fs20{
    font-size: 20px;
}

.select-location{
    /* padding: 10px; */
    border-radius: 10px;
    font-size: 16px;
}

.mt20{
    margin-top: 20px;
}
.restaurant-tag{
    padding: 5px 10px;
    display: inline-block;
    box-shadow: 1px 5px 20px -2px rgba(0, 0, 0, 0.5);
    margin: 10px 5px;
    border-radius: 10px;
}

.restaurant-tag.active{
    background-color: #c8c8c8;
    color: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.custom-panel{
    padding: 10px;
    padding-left: 30px;
    font-weight: 900;
    font-size: 16px;
}
.theme-button-color{
    background-color: #98ce44;
    border: none;
    border-radius: 0 !important;
    color:white;
}

.border-radius-0{
    border-radius: 0 !important;
    
}

.theme-button-color:hover{
    color:white !important;
    background-color: #7fb231 !important;
}
.collection-card-img {
    width : 144px;
}

.collection-card-details{
    padding-left: 200px ;
}
.collection .box figure{
    width: 100px !important;
}


.restaurent-type{
    position: absolute;
    background: #fdb714;
    top: 8px;
    z-index: 33;
    padding: 5px;
    color: #fff;
    border-top-right-radius: 10px;
    font-size: 15px;
}