<!DOCTYPE html>

	<html>
	<head>
	
    <!-- Page Title -->
    <title>Boat Stays | Travel Beans Hotels Collections</title>
    
    <!-- Meta Tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Travel Beans">
    <meta name="description" content="">
    <meta name="distribution" content="global">
    <meta name="country" content="india">
    <meta name="copyright" content="Travel Beans">
    <meta name="revisit-after" content="1 hour">
    <meta name="designer" content="Travel Beans">
    <meta name="language" content="english">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="publisher" content="Travel Beans">

    <meta property="og:title" content="Travel Beans">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
  
    <meta name="twitter:card" content="">
  
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
	
    
    <!-- Theme Styles -->
	<link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
	
    <link href="/css/css" rel="stylesheet" type="text/css">
    
    <!-- Main Style -->
	<style>
	.blink 
	{
	animation: blinker 1s linear infinite;
	}

	@keyframes blinker 
	{  
	75% { opacity: 0.0; }
	}
	</style>
	
    <script type="text/javascript">
        var mainStyle = "style.css";
        if (typeof localStorage != "undefined") {
            var colorSkin = localStorage.getItem("colorSkin");
            if (colorSkin != null) {
                mainStyle = "style-" + colorSkin + ".css";
            }
        }
        document.write('<link id="main-style" rel="stylesheet" href="css/' + mainStyle + '">');
    </script>
	
	<link id="main-style" rel="stylesheet" href="/css/style-light-yellow.css">
    
    <!-- Updated Styles -->
    <link rel="stylesheet" href="/css/updates.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="/css/custom.css">
    
    <!-- Responsive Styles -->
    <link rel="stylesheet" href="/css/responsive.css">

	</head>

<body>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top">
            <div class="topnav hidden-xs">
                <div class="container">
                    <ul class="quick-menu pull-left">
                        
						<li class="ribbon currency">
                            <a href="" title="">INR</a>
                            <ul class="menu mini left">
                            </ul>
                        </li>
                        <li class="ribbon">
                            <a href="">English</a>
                            <ul class="menu mini">
                            </ul>
                        </li>
						<li class="ribbon">
                            <a href="">India</a>
                            <ul class="menu mini">
                            </ul>
                        </li>
						<li><a href="http://www.shoppist.in/travelexclusive/" class="">Exclusive Travel Products</a></li>
                    </ul>
                    <ul class="quick-menu pull-right">
                        <li><a href="" class="button yellow btn-small" style="height: 30px; font-size: 1em;">
						<i class="soap-icon-shopping blink"></i> SIGN UP</a></li>
                        <li><a href="" class="soap-popupbox">LOGIN</a></li>
						<li><a href="">Business CAPITAL</a></li>
                        <li><a href="" class="soap-popupbox">Cutomer Care</a></li>

                    </ul>
                </div>
            </div>
            
            <div class="main-header">
                
                <a href="mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu 
                </a>

                <div class="container">
                    <h1 class="logo navbar-brand">
                        <a href="http://www.travelbeans.in/" title="">
                            <img src="images/logo.png" alt="">
                        </a>
                    </h1>
                    
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="">Home</a>
                                
                            </li>
                            <li class="menu-item-has-children">
                                <a href="">Hotels</a>
                                
                            </li>
                            
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                
                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li class="menu-item-has-children">
                            <a href="http://www.sassytravellers.com/">Home</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-0"></button>
                            
                        </li>
                        <li class="menu-item-has-children">
                            <a href="">Hotels</a><button class="dropdown-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu-submenu-item-2"></button>
                        </li>
                       
                        
                            
                        
                        
                    </ul>
                    
                    <ul class="mobile-topnav container">
                        <li><a href="">MY ACCOUNT</a></li>
                        <li class="ribbon language menu-color-skin">
                            <a href="" data-toggle="collapse">ENGLISH</a>
                            <ul class="menu mini" style="">
                            </ul>
                        </li>
                        <li><a href="" class="soap-popupbox">LOGIN</a></li>
                        <li><a href="" class="soap-popupbox">SIGNUP</a></li>
                        <li class="ribbon currency menu-color-skin">
                            <a href="">USD</a>
                            <ul class="menu mini" style="">
                            </ul>
                        </li>
                    </ul>
                    
                </nav>
            </div>
            <div id="travelo-signup" class="travelo-signup-box travelo-box">
                <div class="login-social">
                    <a href="" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                    <a href="" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                </div>
                <div class="seperator"><label>OR</label></div>
                <div class="simple-signup">
                    <div class="text-center signup-email-section">
                        <a href="" class="signup-email"><i class="soap-icon-letter"></i>Sign up with Email</a>
                    </div>
                    <p class="description">By signing up, I agree to Travelo's Terms of Service, Privacy Policy, Guest Refund olicy, and Host Guarantee Terms.</p>
                </div>
                <div class="email-signup">
                    <form>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="last name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="confirm password">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Tell me about Travelo news
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="description">By signing up, I agree to Travelo's Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</p>
                        </div>
                        <button type="submit" class="full-width btn-medium">SIGNUP</button>
                    </form>
                </div>
                <div class="seperator"></div>
                <p>Already a Travelo member? <a href="travelo-login" class="goto-login soap-popupbox">Login</a></p>
            </div>
            <div id="travelo-login" class="travelo-login-box travelo-box">
                <div class="login-social">
                    <a href="" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                    <a href="" class="button login-googleplus"><i class="soap-icon-googleplus"></i>Login with Google+</a>
                </div>
                <div class="seperator"><label>OR</label></div>
                <form>
                    <div class="form-group">
                        <input type="text" class="input-text full-width" placeholder="email address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-text full-width" placeholder="password">
                    </div>
                    <div class="form-group">
                        <a href="" class="forgot-password pull-right">Forgot password?</a>
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </form>
                <div class="seperator"></div>
                <p>Don't have an account? <a href="travelo-signup" class="goto-signup soap-popupbox">Sign up</a></p>
            </div>
        </header>

        <section id="content" class="tour">
            <div id="slideshow" class="slideshow-bg" style="height: 350px;">
                <div class="flexslider">
                    <ul class="slides">
                        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; transition: opacity 0.6s ease; z-index: 1;">
                            <div class="slidebg" style="background-image: url(images/boatstays/boat-stays-collections-hotels-travel-beans.jpg);"></div>
                        </li>
                        <li class="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; transition: opacity 0.6s ease; z-index: 1;">
                            <div class="slidebg" style="background-image: url(images/boatstays/boat-stays-collections-hotels-travel-beans-book-your-deal-now.jpg);"></div>
                        </li>
                        <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.6s ease; z-index: 2;">
                            <div class="slidebg" style="background-image: url(images/boatstays/boat-stays-collections-hotels-travel-beans-book-now.jpg);"></div>
                        </li>
                        
                    </ul>
                </div>
                <div class="container">
                    <div class="table-wrapper full-width">
                        <div class="table-cell">
                            <div class="box">
                                <img src="images/logo.png" alt="">
                            </div>
                            <div class="heading box">
                                <h1 class="title">Boatstays</h1>
                                <h3 class="sub-title">Quick Stays , Quick Deal !</h3>
                            </div>
                            
                            <div class="text-center">
                                <a href="http://www.travelbeans.in/hotel-collections" class="button btn-medium yellow uppercase animated" data-animation-type="fadeInLeftBig">View All Collections</a>
                                &nbsp;&nbsp;
                                <a href="http://www.travelbeans.in/hotel" class="button btn-medium red uppercase animated" data-animation-type="fadeInRightBig">Explore More Deals</a>
                            </div>
                        </div>
                    </div>
                </div>
				
            </div>
			
            <div class="section white-bg">
                <div class="container">
                    <div class="text-center description block">
                        <h1>Most Popular Boatstays Cities</h1>
                        <p>We Have Exclusive Collection of Bed and Breakfast , Hotels For Quickies</p>
                    </div>
                    <div class="tour-packages row add-clearfix image-box">
                        <div class="col-sm-6 col-md-4">
                            <article class="box animated fadeInLeft" data-animation-type="fadeInLeft" style="animation-duration: 1s; visibility: visible;">
                                <figure>
                                    <a href=""><img src="https://scontent.fdel1-4.fna.fbcdn.net/v/t1.0-9/37767211_228379137792746_1956209581575110656_n.jpg?_nc_cat=0&oh=8efc5a78e9053ab4667eedff2f582b3e&oe=5BD884F7" alt=""></a>
                                    <figcaption>
                                        <span class="price">₹ 2000</span>
                                        <h2 class="caption-title">Ginger Hotel</h2>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <article class="box animated fadeInDown" data-animation-type="fadeInDown" style="animation-duration: 1s; visibility: visible;">
                                <figure>
                                    <a href=""><img src="https://scontent.fdel1-4.fna.fbcdn.net/v/t1.0-9/37864874_230081727622487_1284065985938063360_n.jpg?_nc_cat=0&oh=374a0ca60c15d73582052f113063a6da&oe=5BDEDDDF" alt=""></a>
                                    <figcaption>
                                        <span class="price">₹ 1200</span>
                                        <h2 class="caption-title">Solitaire Hotel</h2>
                                    </figcaption>
                                </figure>
                            </article>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <h2>Travel Guide and Tips</h2>
                    <div class="tour-guide image-carousel style2 flexslider animated fadeInUp" data-animation="slide" data-item-width="270" data-item-margin="30" data-animation-type="fadeInUp" style="animation-duration: 1s; visibility: visible;">
                        
                    <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides image-box" style="width: 1000%; transition-duration: 0s; transform: translate3d(-300px, 0px, 0px);">
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <img src="images/boatstays/fishing-net-boat-stays-collections-hotels-travel-beans.jpg" alt="" draggable="false">
                                    </figure>
                                    <div class="details">
                                        <h4>Fishing Net</h4>
                                        <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                                    </div>	
                                </article>
                            </li>
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <img src="images/boatstays/men-shorts-and-capris-boat-stays-collections-hotels-travel-beans.jpg" alt="" draggable="false">
                                    </figure>
                                    <div class="details">
                                        <h4>Men Shorts and Capri</h4>
                                        <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                                    </div>
                                </article>
                            </li>
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <img src="images/boatstays/hats-collections-boat-stays-collections-hotels-travel-beans.jpg" alt="" draggable="false">
                                    </figure>
                                    <div class="details">
                                        <h4>Summer Hats</h4>
                                        <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                                    </div>
                                </article>
                            </li>
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <img src="images/boatstays/mineral-sunscreen-lotion-travel-beans-shoppist.jpeg" alt="" draggable="false">
                                    </figure>
                                    <div class="details">
                                        <h4>Sunscreen Lotion</h4>
                                        <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                                    </div>
                                </article>
                            </li>
                            <li style="width: 270px; float: left; display: block;">
                                <article class="box">
                                    <figure>
                                        <img src="images/boatstays/travel-bags-travel-beans-shoppist.jpg" alt="" draggable="false">
                                    </figure>
                                    <div class="details">
                                        <h4>Travel Hand Bags</h4>
                                        <p>Nunc cursus libero purus ac congue arcu cursus ut sed vitae pulvinar massa idporta nequetiam elerisque mi id faucibus iaculis vitae pulvinar.</p>
                                    </div>
                                </article>
                            </li>
                        </ul></div>
						</div>
            </div>
            
            <div class="global-map-area promo-box parallax" data-stellar-background-ratio="0.5" style="background-position: 50% 0px;">
                <div class="container">
                    <div class="content-section description pull-right col-sm-9" style="height: 210px;">
                        <div class="table-wrapper hidden-table-sm" style="height: 100%;">
                            <div class="table-cell">
                                <h2 class="m-title">
                                    Enjoy The Delightfull <br><em><i></i>Bed And Breakfast Combo</em>
                                </h2>
                            </div>
                            <div class="action-section table-cell">
                                <button class="btn-large">Book With Us Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="image-container col-sm-4" style="height: 210px; margin-left: -5%; position: relative;">
                        <img src="images/boatstays/coconut-boat-stays-collections-hotels-travel-beans.png" alt="" width="312" height="195" style="position: absolute; bottom: 0px; left: 0px; visibility: visible;">
                    </div>
                </div>
            </div>
            
        </section>
        
        <footer id="footer" class="style5">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>Travel Beans</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/about/">About Company</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/jobs/">Jobs</a></li>
								<li class="col-xs-6"><a href="http://www.travelbeans.in/corporateoffices/">Corporate Offices</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/careers/">Carrers</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/legalinformation/">Legal Information</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/press/">Press Release</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/investors/">Investors</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/termsandconditions/">T & C</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/customercare/">Customer Care</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/privacypolicies/">Privacy Policies</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/partnerhelp/">Partner Help</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/faq/">FAQ's</a></li>
                                <li class="col-xs-6"><a href="http://www.travelbeans.in/sitemap/">Site Map</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>Products</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-"><a href="http://www.travelbeans.in/businesscapital/">TB Associates</a></li>
                                <li class="col-xs-"><a href="http://www.travelbeans.in/galaria/">TB Galaria</a></li>
                                <li class="col-xs-"><a href="http://www.travelbeans.in/sarahassist/">TB Sarah</a></li>
                                <li class="col-xs-"><a href="http://www.travelbeans.in/tag/">TB #Tag</a></li>
                                <li class="col-xs-"><a href="http://www.shoppist.in/">TB Shoppist</a></li>
                                <li class="col-xs-"><a href="http://www.indicoin.in/">TB Indi Coin</a></li>
                                
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>Grab Some Offers Now</h2>
                            <p>Subscribe Us to get latest Updates and offe₹</p>
                            <br>
                            <div class="icon-check">
                                <input type="text" class="input-text full-width" placeholder="your email">
                            </div>
                            <br>
                            <span>We respect your privacy</span>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                            <h2>About Travel Beans</h2>
                            <p>Travel Technology</p>
                            <br>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i>Get In Touch</span>
                                <br>
                                Mail At<a href="" class="contact-email">contact@travelbeans.in</a>
                            </address>
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="" href="" data-toggle="tooltip" data-original-title="twitter"><i class="soap-icon-twitter"></i></a></li>
                                <li class="googleplus"><a title="" href="" data-toggle="tooltip" data-original-title="googleplus"><i class="soap-icon-googleplus"></i></a></li>
                                <li class="facebook"><a title="" href="" data-toggle="tooltip" data-original-title="facebook"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="" href="" data-toggle="tooltip" data-original-title="linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                <li class="vimeo"><a title="" href="" data-toggle="tooltip" data-original-title="vimeo"><i class="soap-icon-vimeo"></i></a></li>
                                <li class="dribble"><a title="" href="" data-toggle="tooltip" data-original-title="dribble"><i class="soap-icon-dribble"></i></a></li>
                                <li class="flickr"><a title="" href="" data-toggle="tooltip" data-original-title="flickr"><i class="soap-icon-flickr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom gray-area">
                <div class="container">
					<div class="copyright pull-left">
                        <p>Crafted By : <a href="http://www.websearchinnovations.com/">Websearch Innovation</a> | Powered By : <a href="http://www.brandy.solutions/">Brandy Solutions</a></p>
                    </div>
                    <div class="logo pull-left">
                        <a href="Travel Beans" title="Travelo - home">
                            <img src="./Footer Hotel_files/logo.png" alt="Travelo HTML5 Template">
                        </a>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="" class="animated bounce" data-animation-type="bounce" style="animation-duration: 1s; visibility: visible;"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>© 2018 <a href="http://www.travelbeans.in/" class="active">Travel Beans</a></p>
                    </div>
                </div>
            </div>
        </footer>	
    </div>


    <!-- Javascript -->
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js.download"></script>
    <script type="text/javascript" src="/js/jquery.noconflict.js.download"></script>
    <script type="text/javascript" src="/js/modernizr.2.7.1.min.js.download"></script>
    <script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js.download"></script>
    <script type="text/javascript" src="/js/jquery.placeholder.js.download"></script>
    <script type="text/javascript" src="/js/jquery-ui.1.10.4.min.js.download"></script>
    
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="/js/bootstrap.js.download"></script>

    <!-- Flex Slider -->
    <script type="text/javascript" src="/js/jquery.flexslider-min.js.download"></script>
    
    <!-- parallax -->
    <script type="text/javascript" src="/js/jquery.stellar.min.js.download"></script>
    
    <!-- waypoint -->
    <script type="text/javascript" src="/js/waypoints.min.js.download"></script>

    <!-- load page Javascript -->
    <script type="text/javascript" src="/js/theme-scripts.js.download"></script>
    <script type="text/javascript" src="/js/scripts.js.download"></script>

    <script type="text/javascript">
        tjq("#slideshow .flexslider").flexslider({
            animation: "fade",
            controlNav: false,
            animationLoop: true,
            directionNav: false,
            slideshow: true,
            slideshowSpeed: 5000
        });
    </script>



