<!DOCTYPE html>
<html>

   <head>
      <title>Trip Key</title>
      <link rel="stylesheet" href="../static/css/admin.css">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular-filter/0.4.7/angular-filter.js"></script> 
   </head>
	
   <body ng-app="comparetravel" style="background: #0099ff">
    <div ng-controller="adminController">    
    <form action="#" method="POST">
        <div>
          <label for="name">Hotel name: 
            <input class="input-text" id="name" ng-model="hotel.name" type="text" required>
          </label>      
        </div>
        <div>
          <label for="city">City: 
            <input id="city" ng-model="hotel.city" type="text" required>
          </label>  
        </div>
        <div>
            <label for="address">Address: 
                <input id="address" ng-model="hotel.address" type="text" required>
            </label>
        </div>
        <div>
            <label for="desc">Description: 
                <input id="desc" ng-model="hotel.desc" type="text" required>
            </label>      
        </div>
        <div>
            <label for="images">Images: 
                <input id="images" ng-model="hotel.images" type="url" required>
            </label>  
        </div>
        <div>
            <label for="rating">Rating:
                <div class="radio">
                  <label>
                    <input id="optionsRadios1" type="radio" name="optionsRadios" value="1" ng-model="hotel.rating"/>1
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input id="optionsRadios2" type="radio" name="optionsRadios" value="2" ng-model="hotel.rating"/>2
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input id="optionsRadios3" type="radio" name="optionsRadios" value="3" ng-model="hotel.rating"/>3
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input id="optionsRadios4" type="radio" name="optionsRadios" value="4" ng-model="hotel.rating"/>4
                  </label>
                </div>
                <div class="radio">
                  <label>
                    <input id="optionsRadios5" type="radio" name="optionsRadios" value="4" ng-model="hotel.rating"/>5
                  </label>
                </div>
            </label>
        </div>
        <div>
            <label for="star">Star:
                <div class="radio">
                    <label>
                      <input id="optionsRadios1" type="radio" name="optionsRadios" value="1" ng-model="hotel.star"/>1
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="optionsRadios2" type="radio" name="optionsRadios" value="2" ng-model="hotel.star"/>2
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="optionsRadios3" type="radio" name="optionsRadios" value="3" ng-model="hotel.star"/>3
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="optionsRadios4" type="radio" name="optionsRadios" value="4" ng-model="hotel.star"/>4
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="optionsRadios5" type="radio" name="optionsRadios" value="4" ng-model="hotel.star"/>5
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="optionsRadios6" type="radio" name="optionsRadios" value="4" ng-model="hotel.star"/>6
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input id="optionsRadios7" type="radio" name="optionsRadios" value="4" ng-model="hotel.star"/>7
                    </label>
                </div>
            </label>
        </div>
        <div>
            <label for="Room_cleaning_service">Room_cleaning_service
                <input type="checkbox" value="" ng-model="hotel.amenities.Room_cleaning_service"/>
            </label>
        </div>
        <div>
            <label for="banquets">banquets
                <input type="checkbox" value="" ng-model="hotel.amenities.banquets"/>
            </label>
        </div>
        <div>
            <label for="bar">bar
                <input type="checkbox" value="" ng-model="hotel.amenities.bar"/>
            </label>
        </div>
        <div>
            <label for="child_baby_cot">child_baby_cot
                <input type="checkbox" value="" ng-model="hotel.amenities.child_baby_cot"/>
            </label>
        </div>
        <div>
            <label for="conference_room">conference_room
                <input type="checkbox" value="" ng-model="hotel.amenities.conference_room"/>
            </label>
        </div>
        <div>
            <label for="doorman">doorman
                <input type="checkbox" value="" ng-model="hotel.amenities.doorman"/>
            </label>
        </div>
        <div>
            <label for="express_check_in_out">express_check_in_out
                <input type="checkbox" value="" ng-model="hotel.amenities.express_check_in_out"/>
            </label>
        </div>
        <div>
            <label for="gym">gym
                <input type="checkbox" value="" ng-model="hotel.amenities.gym"/>
            </label>
        </div>
        <div>
            <label for="hairdresser">hairdresser
                <input type="checkbox" value="" ng-model="hotel.amenities.hairdresser"/>
            </label>
        </div>
        <div>
            <label for="indoor_swimming_pool">indoor_swimming_pool
                <input type="checkbox" value="" ng-model="hotel.amenities.indoor_swimming_pool"/>
            </label>
        </div>
        <div>
            <label for="laundry_service">laundry_service
                <input type="checkbox" value="" ng-model="hotel.amenities.laundry_service"/>
            </label>
        </div>
        <div>
            <label for="lift">lift
                <input type="checkbox" value="" ng-model="hotel.amenities.lift"/>
            </label>
        </div>
        <div>
            <label for="non_smoking_smoking_rooms">non_smoking_smoking_rooms
                <input type="checkbox" value="" ng-model="hotel.amenities.non_smoking_smoking_rooms"/>
            </label>
        </div>
        <div>
            <label for="outdoor_swimming_pool">outdoor_swimming_pool
                <input type="checkbox" value="" ng-model="hotel.amenities.outdoor_swimming_pool"/>
            </label>
        </div>
        <div>
            <label for="pet_allowance">pet_allowance
                <input type="checkbox" value="" ng-model="hotel.amenities.pet_allowance"/>
            </label>
        </div>
        <div>
            <label for="pool">pool
                <input type="checkbox" value="" ng-model="hotel.amenities.pool"/>
            </label>
        </div>
        <div>
            <label for="porter_service">porter_service
                <input type="checkbox" value="" ng-model="hotel.amenities.porter_service"/>
            </label>
        </div>
        <div>
            <label for="restaurant">restaurant
                <input type="checkbox" value="" ng-model="hotel.amenities.restaurant"/>
            </label>
        </div>
        <div>
            <label for="spa">spa
                <input type="checkbox" value="" ng-model="hotel.amenities.spa"/>
            </label>
        </div>
        <div>
            <label for="terrace">terrace
                <input type="checkbox" value="" ng-model="hotel.amenities.terrace"/>
            </label>
        </div>
        <div>
            <label for="twenty_four_hr_reception">twenty_four_hr_reception
                <input type="checkbox" value="" ng-model="hotel.amenities.twenty_four_hr_reception"/>
            </label>
        </div>
        <div>
            <label for="twenty_four_hr_room_service">twenty_four_hr_room_service
                <input type="checkbox" value="" ng-model="hotel.amenities.twenty_four_hr_room_service"/>
            </label>
        </div>
        <div>
            <label for="wheelchair_accessible">wheelchair_accessible
                <input type="checkbox" value="" ng-model="hotel.amenities.wheelchair_accessible"/>
            </label>
        </div>
        <div>
            <label for="wifi_in_lobby">wifi_in_lobby
                <input type="checkbox" value="" ng-model="hotel.amenities.wifi_in_lobby"/>
            </label>
        </div>
        <div>
            <label for="room_type">room_type:
                <div class="radio">
                    <label>
                    <input id="optionsRadios1" type="radio" name="optionsRadios" value="1" ng-model="hotel.room_type"/>Premium
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input id="optionsRadios2" type="radio" name="optionsRadios" value="2" ng-model="hotel.room_type"/>Executive
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input id="optionsRadios3" type="radio" name="optionsRadios" value="3" ng-model="hotel.room_type"/>Sweet
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input id="optionsRadios4" type="radio" name="optionsRadios" value="4" ng-model="hotel.room_type"/>Super Deluxe
                    </label>
                </div>
            </label>
        </div>
      <!-- </form>

      <div class="container popAlertBox js-pop-user">
            <div class="row">
              <div class="card content col-sm-12"><span class="pull-right close-btn">X</span>
                <form ng-submit="post(user)" class="col-xs-12 form-horizontal"> -->
                  <div class="col-sm-3">
                    <label for="bed_type">Bed Type:
                        <div class="radio">
                            <label>
                            <input id="optionsRadios1" type="radio" name="optionsRadios" value="1" ng-model="hotel.facilities.bed_type"/>Single
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                            <input id="optionsRadios2" type="radio" name="optionsRadios" value="2" ng-model="hotel.facilities.bed_type"/>Double
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                            <input id="optionsRadios3" type="radio" name="optionsRadios" value="3" ng-model="hotel.facilities.bed_type"/>Queen
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                            <input id="optionsRadios4" type="radio" name="optionsRadios" value="4" ng-model="hotel.facilities.bed_type"/>King
                            </label>
                        </div>
                    </label>
                  </div>
                  <div class="col-sm-3">
                    <label for="no_of_bed">No. of Bed:
                      <input id="no_of_bed" type="number" ng-model="hotel.facilities.no_of_bed"/>
                    </label>
                  </div>
                  <div class="col-sm-3">
                    <label for="status">Status :
                        <input id="status" type="checkbox" value="" ng-model="hotel.status"/>
                    </label>
                  </div>
                  <div class="col-sm-3">
                    <label for="children">children:
                        <input id="children" type="text" ng-model="hotel.member.children"/>
                    </label>
                  </div>
                  <div class="col-sm-3">
                    <label for="no_of_adults">no_of_adults:
                        <input id="no_of_adults" type="number" ng-model="hotel.member.no_of_adults"/>
                    </label>
                  </div>
                  <div class="col-sm-3">
                    <label for="total_members">total_members :
                        <input id="status" type="text" ng-model="hotel.member.total_members"/>
                    </label>
                  </div>
                  <div>
                    <label for="ac">AC
                        <input type="checkbox" value="" ng-model="hotel.facilties.ac"/>
                    </label>
                  </div>
                  <div>
                    <label for="balcony">balcony
                        <input type="checkbox" value="" ng-model="hotel.facilties.balcony"/>
                    </label>
                  </div>
                  <div>
                    <label for="bathroom_cosmetics">bathroom_cosmetics
                        <input type="checkbox" value="" ng-model="hotel.facilties.bathroom_cosmetics"/>
                    </label>
                  </div>
                  <div>
                    <label for="bathroom_nightie">bathroom_nightie
                        <input type="checkbox" value="" ng-model="hotel.facilties.bathroom_nightie"/>
                    </label>
                  </div>
                  <div>
                    <label for="bathroom_towels">bathroom_towels
                        <input type="checkbox" value="" ng-model="hotel.facilties.bathroom_towels"/>
                    </label>
                  </div>
                  <div>
                    <label for="bathroom_with_shower">bathroom_with_shower
                        <input type="checkbox" value="" ng-model="hotel.facilties.bathroom_with_shower"/>
                    </label>
                  </div>
                  <div>
                    <label for="breakfast">breakfast
                        <input type="checkbox" value="" ng-model="hotel.facilties.breakfast"/>
                    </label>
                  </div>
                  <div>
                    <label for="desk">desk
                        <input type="checkbox" value="" ng-model="hotel.facilties.desk"/>
                    </label>
                  </div>
                  <div>
                    <label for="electric_kettle">electric_kettle
                        <input type="checkbox" value="" ng-model="hotel.facilties.electric_kettle"/>
                    </label>
                  </div>
                  <div>
                    <label for="fan">fan
                        <input type="checkbox" value="" ng-model="hotel.facilties.fan"/>
                    </label>
                  </div>
                  <div>
                    <label for="food_serve_at_room">food_serve_at_room
                        <input type="checkbox" value="" ng-model="hotel.facilties.food_serve_at_room"/>
                    </label>
                  </div>
                  <div>
                    <label for="free_evening_snacks">free_evening_snacks
                        <input type="checkbox" value="" ng-model="hotel.facilties.free_evening_snacks"/>
                    </label>
                  </div>
                  <div>
                    <label for="free_toiletries">free_toiletries
                        <input type="checkbox" value="" ng-model="hotel.facilties.free_toiletries"/>
                    </label>
                  </div>
                  <div>
                    <label for="hairdryer">hairdryer
                        <input type="checkbox" value="" ng-model="hotel.facilties.hairdryer"/>
                    </label>
                  </div>
                  <div>
                    <label for="heater">heater
                        <input type="checkbox" value="" ng-model="hotel.facilties.heater"/>
                    </label>
                  </div>
                  <div>
                    <label for="ironing_facility">ironing_facility
                        <input type="checkbox" value="" ng-model="hotel.facilties.ironing_facility"/>
                    </label>
                  </div>
                  <div>
                    <label for="morning_newspaper">morning_newspaper
                        <input type="checkbox" value="" ng-model="hotel.facilties.morning_newspaper"/>
                    </label>
                  </div>
                  <div>
                    <label for="phone">phone
                        <input type="checkbox" value="" ng-model="hotel.facilties.phone"/>
                    </label>
                  </div>
                  <div>
                    <label for="room_safe">room_safe
                        <input type="checkbox" value="" ng-model="hotel.facilties.room_safe"/>
                    </label>
                  </div>
                  <div>
                    <label for="room_seating_area">room_seating_area
                        <input type="checkbox" value="" ng-model="hotel.facilties.room_seating_area"/>
                    </label>
                  </div>
                  <div>
                    <label for="room_slipper">room_slipper
                        <input type="checkbox" value="" ng-model="hotel.facilties.room_slipper"/>
                    </label>
                  </div>
                  <div>
                    <label for="tv">tv
                        <input type="checkbox" value="" ng-model="hotel.facilties.tv"/>
                    </label>
                  </div>
                  <div>
                    <label for="view">view
                        <input type="checkbox" value="" ng-model="hotel.facilties.view"/>
                    </label>
                  </div>
                  <div>
                    <label for="wardrobes_closet">wardrobes_closet
                        <input type="checkbox" value="" ng-model="hotel.facilties.wardrobes_closet"/>
                    </label>
                  </div>
                  <div>
                    <label for="weighing_machine">weighing_machine
                        <input type="checkbox" value="" ng-model="hotel.facilties.weighing_machine"/>
                    </label>
                  </div>
                  <div>
                    <label for="wifi">wifi
                        <input type="checkbox" value="" ng-model="hotel.facilties.wifi"/>
                    </label>
                  </div>
                  <div>
                    <label for="wname">website name: 
                      <input class="input-text" id="wname" ng-model="hotel.prices.website.website" type="text" required>
                    </label>      
                  </div>
                  <div class="col-sm-3">
                    <label for="price">price:
                      <input id="price" type="number" ng-model="hotel.prices.price"/>
                    </label>
                  </div>
                  <div class="col-sm-3">
                    <label for="weekend">weekend :
                        <input id="weekend" type="checkbox" value="" ng-model="hotel.prices.weekend"/>
                    </label>
                  </div>
                  <input type="submit" ng-click="createHotel($event)" class="btn btn-outline-primary btn-lg"/>
                </form>
    </div>
              <!-- </div>
            </div>
        </div> -->
    <script type="text/javascript" src="../static/app.js"></script>

   </body>
	
</html>