<!DOCTYPE html>
<html>
<head>
	<title>Register | Compare Travel</title>
</head>
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">

<body>
<div class="register-image"></div>
<div class="image-text" >Create Account</div>
<div class="register-container">
<p class="site-text">Compare Travel</p>
<p class="tag-line">made with <span class="fa fa-heart"></span></p>
	<div class="register-form">
		<form>
		<input type="text" name="name"> 
		<label class="name">Full Name</label>

		<input type="text" name="">
		<label class="mobile-no">Mobile Number</label>

		<input type="text" name="">
		<label class="email">Email</label>

		<input type="text" name="">
		<label class="password">Password</label>

		<input type="password" name="" >
		<label class="c_password">Comfirm Password</label>

		<input type="submit" name="" value="sign up">
		</form>
	</div>

</div>
<script type="text/javascript" src="js/jquery.js" ></script>
<script type="text/javascript" src="js/script.js"></script>
</body>
</html>