/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */
.pos-ab {
    position: relative;
    bottom: 0;
    right: 0;
}
.image-stack{
    bottom: 305px;
    left: 10px;
}
.mr15 {
     margin-right: 15px;
}
.mb15{
    margin-bottom: 15px
}

.restaurant-image{
    width: 55px !important;
  
}

/* .image-stack.img-circle.mb15.mr15.pos-ab img {
    width: 50px;
} */

.photo-container{
    width : 130px;
    background-color: #ffffff;
    border-radius:0 10px 10px 0;
    margin-right: 10px;
    display: table;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
}
.image-stack > a {
    display:inline-block;
}

.theme-button-color{
    background-color: #fdb714;;
    border: none;
    border-radius: 0 !important;
    color:white;
}

.border-radius-0{
    border-radius: 0 !important;
    
}

.theme-button-color:hover{
    color:white !important;
    background-color: #e9b02b !important;
}