/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */
.pos-ab {
    position: relative;
    bottom: 0;
    right: 0;
}
.image-stack{
    bottom: 305px;
    left: 10px;
}
.mr15 {
     margin-right: 15px;
}
.mb15{
    margin-bottom: 15px
}

.restaurant-image{
    width: 55px !important;
  
}

/* .image-stack.img-circle.mb15.mr15.pos-ab img {
    width: 50px;
} */

.photo-container{
    width : 130px;
    background-color: #ffffff;
    border-radius:0 10px 10px 0;
    margin-right: 10px;
    display: table;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
}
.image-stack > a {
    display:inline-block;
}

.theme-button-color{
    background-color: #fdb714;;
    border: none;
    border-radius: 0 !important;
    color:white;
}

.border-radius-0{
    border-radius: 0 !important;
    
}

.theme-button-color:hover{
    color:white !important;
    background-color: #e9b02b !important;
}

.restaurant-rating{
    display: block;
    font-size: 5em;
    color: #2d3e52;
    font-weight: 300;
    line-height: 1.25em;
    text-align: center;
}

.restaurant-type{
    background: #fff;
    padding: 30px;
    text-transform: uppercase;
}


@media only screen and (max-width: 320px) { 
    .search-suggestion-box{
        top: 352px;
        width: 74%;
        left: 56px;
    
}

.photo-gallery.style1{
    overflow: hidden;
    height: 250px;
}






} 


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 375px) { 
    .search-suggestion-box{
        top: 298px;
        width: 73%;
        left: 50px;
    
}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
    .search-suggestion-box{
    top: 70%;
    width: 570px;
    left: 86px;
    
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
    .search-suggestion-box{
        top: 8%;
        width: 328px;
        left: 163px;
    
}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
    .search-suggestion-box{
        top: 12%;
        width: 444px;
        left: 214px;
    
}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    .search-suggestion-box{
        top: 240px;
        width: 482px;
        left: 311px;
    
}


.photo-gallery.style1{
    overflow: hidden;
    height: 520px;
}
}

.rating-container{
    background-color: #5BA829;
    border-radius: 10px;
    padding: 5px;
    color:#fff;
    font-weight: 700;
    
    
}
.restaurent-type{
    position: absolute;
    background: #fdb714;
    top: 8px;
    z-index: 33;
    padding: 5px;
    color: #fff;
    border-top-right-radius: 10px;
    font-size: 15px;
}